@charset "UTF-8";

.fh5co-card-item .fh5co-text-v {
	padding: 0px 10px 10px 20px;
	text-align: center;
	position: relative;
	z-index: 22;
}

.fh5co-card-item .fh5co-text-v h2 {
	font-size: 30px;
	font-weight: bold;
	margin: 0 0 10px 0;
	color: #FBB448;
}

.fh5co-card-item .fh5co-text-v p {
	color: #000;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

.gtco-section-v .gtco-container .row .oe_float_right {
	float: right;
}

/* nav 하단 메뉴명 보이는 헤더 크기 지정*/
.gtco-cover.gtco-cover-sm-v {
	height: 300px;
}

.gtco-section-v {
	padding: 2em 0;
	clear: both;
	position: relative;
}

.gtco-section-v .gtco-container .oe_center {
	text-align: center;
}

/* width: 49%로 지정 */
.gtco-section-v .gtco-container .w49 {
	width: 49%;
	display: inline-block;
	margin-top: 10px;
}

.gtco-section-v .gtco-container .mt10 {
	margin-top: 10px;
}

.gtco-section-v .gtco-container .txtarea {
	resize: none;
}

.gtco-section-v .gtco-container .l_day {
	margin-left: 3%;
	margin-right: 1%;
}

.gtco-section-v .gtco-container input[type="checkbox"] {
	width: 20px;
	height: 20px;
}

.gtco-section-v .gtco-container .fs18 {
	font-size: 18px;
}

/* 필수 입력 항목 (*) 컬러 지정 */
.gtco-section-v .gtco-container .notnull {
	color: red;
}