<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.o.e.lesson.LessonMapper">
	
	<!-- 레슨 등록 -->
	<insert id="regLesson" parameterType="com.o.e.lesson.Lesson" useGeneratedKeys="true" keyColumn="l_num" keyProperty="l_num">
		<![CDATA[insert into oe_lesson values(oe_lesson_seq.nextval, 
		#{l_type}, #{l_category}, #{l_teacher_id}, #{l_level}, sysdate)]]>
	</insert>
	
	<!-- 레슨 상세 등록 -->
	<insert id="regLessonDetail" parameterType="com.o.e.lesson.LessonDetail" >
		insert into oe_lesson_detail values(
		#{l_num}, #{l_location}, #{l_room}, #{l_level_of_education1}, #{l_level_of_education2},
		#{l_major}, #{l_career1}, #{l_career2}, #{l_career3}, #{l_content}, #{l_pay}, #{l_day}
		)
	</insert>
	
	
	<!-- 레슨 리스트 -->
	<select id="getList" resultType="com.o.e.lesson.Lesson">
		select * from oe_lesson order by l_num desc
	</select>


</mapper>