@charset "UTF-8";

.fh5co-card-item .fh5co-text-v {
	padding: 0px 10px 10px 20px;
	text-align: center;
	position: relative;
	z-index: 22;
}

.fh5co-card-item .fh5co-text-v h2 {
	font-size: 30px;
	font-weight: bold;
	margin: 0 0 10px 0;
	color: #FBB448;
}

.fh5co-card-item .fh5co-text-r {
    padding: 20px 10px 10px 20px;
    text-align: center;
    position: relative;
    z-index: 22;
}

.fh5co-card-item .fh5co-text-r h2 {
	font-size: 30px;
	font-weight: bold;
	margin: 0 0 10px 0;
	color: #FBB448;
}

.fh5co-card-item .fh5co-text-v p {
	color: #000;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

.txt {
	font-size: 18px;
	font-weight: bold;
	color: #FBB448;
}

.gtco-section-v .gtco-container .row .oe_float_right {
	float: right;
}

.gtco-section-v .gtco-container .row .oe_float_left {
	float: left;
}

@media ( max-width : 800px) {
	.gtco-section-v .gtco-container .oe_float_left {
		clear: both;
	}
}

@media ( max-width : 800px) {
	.gtco-section-v .gtco-container .oe_float_right {
		clear: both;
	}
}

/* nav 하단 메뉴명 보이는 헤더 크기 지정*/
.gtco-cover.gtco-cover-sm-v {
	height: 300px;
}

.gtco-section-v {
	padding: 2em 0;
	clear: both;
	position: relative;
}

.oe_center {
	text-align: center;
}

/* width: 49%로 지정 */
.w49 {
	width: 49%;
	display: inline-block;
	margin-top: 10px;
}

.w49_2 {
	width: 49%;
	display: inline-block;
}

.w50 {
	width: 50%;
	display: inline-block;
	margin-top: 10px;
}

/* 가로 80% 가운데 정렬 */
.w80 {
	width: 80%;
	margin: 0 auto;
}

.w100 {
	width: 100%;
	margin: 0 auto;
}

.w30 {
	margin: 0 auto;
	display: inline-block;
}

@media ( max-width : 800px) {
	.gtco-section-v .gtco-container .w49 {
		width: 100%;
	}
}

.gtco-section-v .gtco-container .mt4 {
	margin-top: 4px;
}

.mb4 {
	margin-bottom: 4px;
}

.mb40 {
	margin-bottom: 40px;
}

.gtco-section-v .gtco-container .mt10 {
	margin-top: 10px;
}

.gtco-section-v .gtco-container .mt30 {
	margin-top: 30px;
}

.gtco-section-v .gtco-container .ml100 {
	margin-left: 100px;
}

.gtco-section-v .gtco-container .mr3 {
	margin-right: 3%;
}

@media ( max-width : 800px) {
	.gtco-section-v .gtco-container .ml100 {
		margin-left: 0;
	}
}

.gtco-section-v .gtco-container .txtarea {
	resize: none;
}

.gtco-section-v .gtco-container .l_day {
	margin-left: 3%;
	margin-right: 1%;
}

.gtco-section-v .gtco-container input[type="checkbox"] {
	width: 20px;
	height: 20px;
}

.gtco-section-v .gtco-container input[type="radio"] {
	width: 20px;
	height: 20px;
}

.w65 {
	width: 65%;
	margin-right: 2%;
	display: inline-block;
}

.w32 {
	width: 32%;
	display: inline-block;
}

.btn-primary[disabled] {
	background-color: gray;
	border: gray;
}

.gtco-section-v .gtco-container .fs18 {
	font-size: 18px;
}

.notnull {
	color: red;
}

.gtco-section-v .gtco-container .pageCount {
	text-align: center;
}

.oe_font {
	font-family: 'Nanum Pen Script', cursive;
}

.gtco-section-v .gtco-container .oe_font2 {
	font-family: 'Black Han Sans', sans-serif;
}

.oe_font_bold_18 {
	font-weight: bold;
	font-size: 18px;
}

.oe_font_bold_25 {
	font-weight: bold;
	font-size: 25px;
}

.gtco-section-v .gtco-container .lesson {
	height: 500px;
	margin-top: 30px;
}

.gtco-section-v .gtco-container .checkbox {
	width: 30px;
	height: 30px;
	display: inline-block;
	margin-right: 10px;
}

.gtco-section-v .gtco-container .checkbox_text {
	font-weight: bold;
	font-size: 20px;
	vertical-align: middle;
}

.text_left {
	text-align: left;
}

.photo {
	width: 50%;
}

@media
(
min-width
:
301px)
and
@media ( max-width : 800px) {
	.photo {
		width: 65%;
	}
}

@media ( max-width : 300px) {
	.photo {
		width: 100%;
	}
}

/* index.js */
.gtco-section-v .gtco-container .oe_vcenter {
	vertical-align: middle;
}

.fh5co-card-item .fh5co-text-i {
	padding: 0px 10px 10px 20px;
	text-align: center;
	position: relative;
	z-index: 22;
}

.fh5co-card-item .fh5co-text-i h2 {
	font-size: 25px;
	font-weight: bold;
	margin: 0 0 10px 0;
	color: #FBB448;
}

.fh5co-card-item .fh5co-text-i p {
	color: #000;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

/* 리뷰 */
#myform fieldset {
	display: inline-block;
	direction: rtl;
	border: 0;
}

#myform fieldset legend {
	text-align: right;
}

#myform input[type=radio] {
	display: none;
}

#myform label {
	font-size: 3em;
	color: transparent;
	text-shadow: 0 0 0 #f0f0f0;
}

#myform label:hover {
	text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}

#myform label:hover ~ label {
	text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}

#myform input[type=radio]:checked ~ label {
	text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}

.oe_white, #oe_white {
	color: white;
}

#gtco-features .gtco-container .row .oe_font {
	font-family: 'Nanum Pen Script', cursive;
}

.oe_center {
	text-align: center;
}

.oe_font_bold_45 {
	font-weight: 400;
	font-size: 45px;
	margin-bottom: 10px;
}

/* 리뷰 */
#review fieldset {
	display: inline-block;
	direction: rtl;
	border: 0;
}

#review input[type=radio] {
	display: none;
}

#review label {
	font-size: 3em;
	color: transparent;
	text-shadow: 0 0 0 #f0f0f0;
}

#review input[type=radio]:checked ~ label {
	text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}

.star-ratings {
	margin: 0 auto;
	color: #aaa9a9;
	position: relative;
	unicode-bidi: bidi-override;
	width: max-content;
	-webkit-text-fill-color: transparent;
	/* Will override color (regardless of order) */
	-webkit-text-stroke-width: 1.3px;
	-webkit-text-stroke-color: #2b2a29;
}

.star-ratings-fill {
	color: #fff58c;
	padding: 0;
	position: absolute;
	z-index: 1;
	display: flex;
	top: 0;
	left: 0;
	overflow: hidden;
	-webkit-text-fill-color: gold;
}

.star-ratings-base {
	z-index: 0;
	padding: 0;
}

.fh5co-card-item-r .fh5co-text-v .star-ratings span {
	font-size: 30px;
	color: #b3b3b3;
	font-weight: 400;
}


/* 리뷰 끝 */

/* */
@font-face {
	font-family: "icomoon";
	src: url("../fonts/icomoon/icomoon.eot?srf3rx");
	src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix")
		format("embedded-opentype"),
		url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"),
		url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"),
		url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
	font-weight: normal;
	font-style: normal;
}

.fh5co-card-item-r {
	display: block;
	width: 100%;
	position: relative;
	background: #fff;
	overflow: hidden;
	z-index: 9;
	bottom: 0;
	margin-bottom: 30px;
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.18);
	-moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.18);
	-ms-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.18);
	-o-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.18);
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.18);
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	border-radius: 0px;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.fh5co-card-item-r figure {
	overflow: hidden;
	z-index: 12;
}

.fh5co-card-item-r figure .overlay {
	opacity: 0;
	visibility: hidden;
	z-index: 10;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	background: rgba(0, 0, 0, 0.4);
	-webkit-transition: 0.7s;
	-o-transition: 0.7s;
	transition: 0.7s;
}

.fh5co-card-item-r figure .overlay i {
	z-index: 12;
	color: #fff;
	font-size: 30px;
	position: absolute;
	margin-left: -15px;
	margin-top: -45px;
	top: 50%;
	left: 50%;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.fh5co-card-item-r .fh5co-text-v {
	padding: 0px 10px 10px 20px;
	text-align: center;
	z-index: 22;
}

.fh5co-card-item-r .fh5co-text-v:before {
	position: absolute;
	top: -40px;
	right: 0;
	left: 0;
	width: 103%;
	margin-left: -4px;
	height: 50px;
	z-index: -1;
	content: "";
	background: #fff;
	-webkit-transform: rotate(4deg);
	-moz-transform: rotate(4deg);
	-ms-transform: rotate(4deg);
	-o-transform: rotate(4deg);
	transform: rotate(4deg);
}

.fh5co-card-item-r .fh5co-text-v h2, .fh5co-card-item-r .fh5co-text-v span
	{
	text-decoration: none !important;
}

.fh5co-card-item-r .fh5co-text-v h2 {
	font-size: 35px;
	font-weight: 400;
	margin: 0 0 10px 0;
	color: #FBB448;
}

.fh5co-card-item-r .fh5co-text-v span {
	color: #b3b3b3;
	font-size: 16px;
	font-weight: 400;
}

.fh5co-card-item-r .fh5co-text-v p {
	color: #000;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

.fh5co-card-item-r:hover, .fh5co-card-item-r:focus {
	bottom: 7px;
	text-decoration: none;
	-webkit-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.19);
	-ms-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.19);
	-o-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.19);
	box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.19);
}

.fh5co-card-item-r:hover figure .overlay, .fh5co-card-item-r:focus figure .overlay
	{
	opacity: 1;
	visibility: visible;
}

.fh5co-card-item-r:hover figure .overlay i, .fh5co-card-item-r:focus figure .overlay i
	{
	margin-top: -15px;
}

.fh5co-card-item-r:hover h2, .fh5co-card-item-r:hover span,
	.fh5co-card-item-r:focus h2, .fh5co-card-item-r:focus span {
	text-decoration: none !important;
}

.swal-height {
	height: 40vh;
}

.swal2-popup {
	font-size: 20px !important;
}

.swal2-styled {
	padding: 10px 32px 10px 32px !important;
	margin: 20px 10px 0px 10px !important;
	width: 170px;
}

.swal2-modal {
	margin-top: 50px;
}

#swal2-title {
	margin-top: 100px;
}

.mouse {
	cursor: pointer;
}

/* 댓글 css */
.cmt {
	clear: both;
	margin-top: 80px;
}

.writeArea {
	resize: none;
	width: 110%;
	border: silver solid 3px;
	border-radius: 10px;
	margin-top: 20px;
	padding: 5px;
	padding-left: 15px;
	border: silver solid 3px;
}

.writeArea:focus {
	outline: none;
}

.writeArea2 {
	resize: none;
	width: 120%;
	border: silver solid 3px;
	border-radius: 10px;
	margin-left: 20px;
	padding: 5px;
	padding-left: 15px;
	border: silver solid 3px;
	margin-bottom: 20px;
}

.writeArea2:focus {
	outline: none;
}

.writeBtn {
	height: 50px;
	padding-right: 10px;
	padding-left: 10px;
	font-size: 18px;
	margin-top: 25px;
	margin-right: 10px;
	font-weight: 500;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	border-radius: 4px;
	background-color: silver;
	color: #ffffff;
}

.writeBtn2 {
	height: 50px;
	padding-right: 10px;
	padding-left: 10px;
	margin-top: 28px;
	font-size: 18px;
	font-weight: 500;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	border-radius: 4px;
	background-color: silver;
	color: #ffffff;
}

.cmtBtn {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 10px;
	padding-left: 10px;
	font-weight: 500;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	border-radius: 4px;
	background-color: silver;
	color: #ffffff;
}

.myCmtBtnRight { /*버튼 float:right 주고 싶을 때*/
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 10px;
	padding-left: 10px;
	margin-bottom: 0;
	font-size: 18px;
	font-weight: 500;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	background-color: #337ab7;
	color: #ffffff;
	float: right;
	margin-left: 10px;
}

.myCmtBtn-DelRight { /*삭제버튼 float:right 주고 싶을 때*/
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 10px;
	padding-left: 10px;
	margin-bottom: 0;
	font-size: 18px;
	font-weight: 500;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	background-color: #d9534f;
	color: #ffffff;
	float: right;
	margin-left: 10px;
}

.updateArea {
	resize: none;
	width: 200%;
	border: silver solid 3px;
	border-radius: 10px;
	margin-left: 20px;
	margin-top: 10px;
	padding: 5px;
	padding-left: 15px;
	border: silver solid 3px;
}

.updateArea:focus {
	outline: none;
}

.updateBtn {
	height: 50px;
	padding-right: 10px;
	padding-left: 10px;
	margin-top: 15px;
	font-size: 18px;
	font-weight: 500;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	border-radius: 4px;
	background-color: silver;
	color: #ffffff;
}

.oe_b_white {
	background-color: white;
}

.oe_underline {
	color: black;
	text-decoration: underline;
}


#fc-dom-1 {
	font-weight: bold;
	color: #FBB448;
}

.preWidth {
	white-space: pre-wrap;
}
