<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.o.e.notice.NoticeMapper">

	<!-- 공지글 개수 세기 -->
	<select id="countListNotice" resultType="int">
		SELECT COUNT(*) FROM
		oe_notice
	</select>

	<!-- 공지글 리스트 불러오기 -->
	<select id="getListNotice" resultType="com.o.e.notice.Notice">
		<![CDATA[SELECT * FROM 
		(
			SELECT ROWNUM AS rn, c.*
			FROM (
				SELECT ROWNUM, n_no, n_title, n_content, n_regdate, n_updatedate
				FROM oe_notice
				WHERE n_title like '%' || #{search} || '%'
				ORDER BY n_no DESC
			) c
		)
		WHERE rn >= #{start} and rn <= #{end}]]>
	</select>

	<!-- 공지글 쓰기 -->
	<insert id="regNotice" parameterType="com.o.e.notice.Notice">
	<![CDATA[
		INSERT INTO 
		oe_notice(n_no, n_title, n_content, n_regdate)
		VALUES(oe_notice_seq.nextval, #{n_title}, #{n_content}, sysdate)
	]]>
	</insert>

	<!-- 공지글 읽기 -->
	<select id="readNotice" resultType="com.o.e.notice.Notice">
	<![CDATA[
		SELECT * FROM oe_notice
		WHERE n_no = #{n_no}
	]]>
	</select>

	<!-- 공지글 수정 -->
	<update id="updateNotice">
		UPDATE
		oe_notice
		SET
		n_title = #{n_title},
		n_content =
		#{n_content},
		n_updatedate = sysdate
		WHERE n_no = #{n_no}
	</update>

	<!-- 정보글 삭제 -->
	<delete id="deleteNotice">
		DELETE oe_notice WHERE n_no = #{n_no}
	</delete>
</mapper>