<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.o.e.lesson.ReviewMapper">

	<!-- 리뷰 작성 -->
	<insert id="writeReview" parameterType="com.o.e.lesson.Review">
		<![CDATA[insert into oe_review values(oe_review_seq.nextval,
		#{l_num}, #{a_id}, #{r_star}, #{r_level}, #{r_recommend}, #{r_content}, sysdate)]]>
	</insert>
	
	<!-- 리뷰 작성 확인 -->
	<select id="check" parameterType="map" resultType="int">
		select r_num from oe_review where l_num = #{l_num} and a_id = #{a_id}
	</select>
	
	<!-- 리뷰 갯수 -->
	<select id="count" parameterType="int" resultType="int">
		select count(*) from oe_review where l_num = #{l_num}
	</select>
	
	<!-- 리뷰 리스트 가져오기 -->
	<select id="getReviews" parameterType="int" resultType="com.o.e.lesson.Review">
		<![CDATA[select * from ( 
					select rownum as rn, b.*
					from ( select rownum, a.*
					from oe_review a
					where a.l_num = #{l_num}
					order by r_regdate desc
					) b
				) where rn >= #{start} and rn <= #{end}]]>
	</select>
	
	<select id="get3Reviews" parameterType="int" resultType="com.o.e.lesson.Review">
		<![CDATA[select * from ( 
					select rownum as rn, b.*
					from ( select rownum, a.*
					from oe_review a
					where a.l_num = #{l_num}
					order by r_regdate desc
					) b
				) where rn >= 1 and rn <= 3]]>
	</select>
	
	<!-- 리뷰 평점 가져오기 -->
	<select id="getAvg" parameterType="int" resultType="double">
		<![CDATA[select round(avg(r_star), 1)
				from oe_review
				where l_num = #{l_num}
				group by l_num]]>
	</select>
	
	<!-- 추천한 수강생 수 카운트 -->
	<select id="getStuCnt" parameterType="int" resultType="int">
		select l_student from oe_lesson_detail where l_num = #{l_num}
	</select>
	<select id="getRecCnt" parameterType="int" resultType="int">
		select count(r_recommend)
		from oe_review
		where l_num = #{l_num} and r_recommend = 1
		group by r_recommend
	</select>
	
	<!-- 레슨 수준 평가 -->
	<select id="getLevCnt" parameterType="int" resultType="int">
		select count(r_level)
		from oe_review
		where l_num = #{l_num} and r_level = 1
	</select>
	
	<!-- 리뷰 상세보기 -->
	<select id="reviewDetail" parameterType="int" resultType="com.o.e.lesson.Review">
		select * from oe_review where r_num = #{r_num}
	</select>
	
	<!-- 전체 리뷰 갯수 -->
	<select id="countAll"  resultType="int">
		select count(*) from oe_review
	</select>
	
	<!-- 추천 갯수 가져오기 -->
	<select id="getRec" resultType="int">
		select count(*) 
		from oe_review
		where r_recommend = 1
	</select>
	
	<!-- 리뷰 수정 -->
	<update id="updateReview" parameterType="com.o.e.lesson.Review">
		update oe_review set r_star = #{r_star}, r_level = #{r_level}
		, r_recommend = #{r_recommend}, r_content = #{r_content}
		where l_num = #{l_num} and r_num = #{r_num}
	</update>
	
	<!-- 리뷰 삭제 -->
	<delete id="deleteReview" parameterType="int">
		delete from oe_review where r_num = #{r_num}
	</delete>
</mapper>